
.slide-left-enter {
  transform: translateX(100%);
  position: absolute;
  width: 100%;
}
.slide-left-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}
.slide-left-exit {
  transform: translateX(0%);
  position: absolute;
  width: 100%;
}
.slide-left-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
